.list {
    margin-top: 20px;
}

.listContact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #e4e3db;
    border-radius: 5px;
    margin-bottom: 5px;
}

.listContact__left h5,
.listContact__left p {
    color: #e4e3db;
}

.listContact__right button {
    margin: 5px;
    color: #e4e3db;
}